<div class="container createProfile">
    <div class="row">
        <div class="col">

            <h2 class="create-title">Join Code Gap</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a class="btn btn-primary joinBtnV" href="/volunteer/create">Volunteers</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a class="btn btn-primary joinBtnO" href="/non-profit/create">Organizations</a>
        </div>
        <div class="col">
            <img class="joinImg" src="https://images.pexels.com/photos/1153213/pexels-photo-1153213.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350">
        </div>
    </div>

</div>
