<div class="container createProfile">
    <div class="row">
        <div class="col">

            {{!-- need name and email from auth0 --}}
            <h2 class="create-title">Welcome </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="" href="/volunteer/create">Volunteers Click Here</a>
        </div>
        <div class="col">
            <a class="" href="/non-profit/create">Organizations Click Here</a>
        </div>
    </div>
    {{!-- get involved button --}}


</div>
