<div class="container">

    <div class="row">
        <div class="col">
            <h1 class=" wrap main-title">Code Gap</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Our Mission</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Getting newbies experience while helping non-profits in need.....connecting non-profits with volunteers who
                share their time and skills....</p>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-5">
            <a class="btn btn-light np-btn" href="/non-profit" role="button">Non-Profits<br><br>Post your organizations needs
                <br>and we will match you with a volunteer</a>
        </div>
        <div class="col-md-5">
            <a class="btn btn-light v-btn" href="/volunteer" role="button">Volunteers<br><br>Find a project that fits your
                skills
                <br>at an organization that needs your help</a>
        </div>
    </div>
</div>
</div>
