<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-gJWVjz180MvwCrGGkC4xE5FjhWkTxHIR/+GgT8j2B3KKMgh6waEjPgzzh7lL7JZT"
    crossorigin="anonymous">
<link rel='stylesheet' href="/stylesheets/style.css" />
<script src="../public/js/index.js"></script>

<div class="container">
    <div class="row imageContainer">
    </div>

    <div class="row">
        <div class="col">
            <a class="btn btn-primary np-btn" href="/non-profit" role="button">Organizations<br><br>Post
                your
                organizations
                needs
                <br>and we will match you with a volunteer</a>
        </div>
        <div class="col missionStatement">
            <p>Bridging the gap between Software Developers hungry for experience and organizations in need
                of skilled volunteers. Doing good is good for you.</p>
        </div>
    </div>

    <div class="row ">
        <div class="col">
            <a class="btn btn-primary v-btn" href="/volunteer" role="button">Volunteers<br><br>Find a
                project that fits
                your skills
                <br>at an organization that needs your help</a>
        </div>
        <div class="col">
            <p class="indexQuote">"Help others achieve their dreams and you will achieve yours"<br>
                -Les Brown</p>
        </div>
    </div>

</div>
