<div class="w3-container">
    {{#if loggedIn}}
        <h4>You are logged in!</h4>
    {{else}}
        <div class="row col">
            <h4>You are not logged in! Please <a href="/login">Log In to continue.</a></h4>
        </div>
    {{/if}}
</div>
