<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Gap</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/flatly/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gJWVjz180MvwCrGGkC4xE5FjhWkTxHIR/+GgT8j2B3KKMgh6waEjPgzzh7lL7JZT" crossorigin="anonymous">
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
    {{!--<script src="../public/js/index.js"></script> --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" role="navigation">
        <div class="container">

            <div><a href="/" class="navbar-brand" data-toggle="tab"> Code Gap</a></div>
            <a href="/" class="nav-link" data-toggle="tab"> Home</a>
            <a href="/projects" class="nav-link" data-toggle="tab"> Browse Projects</a>
            <a href="/volunteer/list" class="nav-link" data-toggle="tab"> View Volunteers</a>
            <a href="/non-profit/list" class="nav-link" data-toggle="tab"> View Organizations</a>
            {{#if loggedIn}}
                <a href="/user" class="nav-link" data-toggle="tab">Profile</a>
                <a id="qsLogoutBtn" href="/logout" class="nav-link" data-toggle="tab"> Logout</a>
            {{else}}
                <a id="qsLoginBtn" href="/login" class="nav-link" data-toggle="tab">Login</a>
            {{/if}}
        </div>
    </nav>

    {{{body}}}
    {{!-- <footer class="footer navbar">
        <div class="container footerContainer">
            <div class="row">
                <p>Follow Us!</p>
            </div>
            <div class="row">
                <div class="col">
                    <a href="#">
                        <i class="fa fa-facebook fa-2x"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <i class="fa fa-linkedin fa-2x"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="#">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer> --}}

    <footer>
        <div class="row">
            <div class="col followUs">
                <h4>Follow Us!</h4>
            </div>

        </div>
        <div class="row">
            <div class="social">
                <div class="col rowTwo">
                    <ul>
                        <li>
                            <a href="https://github.com/KatharineArnold">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/katharine-arnold-7914b418">
                                <i class="fa fa-linkedin fa-2x"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/KatharineArno19">
                                <i class="fa fa-twitter fa-2x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
    </footer>
</body>

</html>
