<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Gap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css' />
    <script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

</head>

<body>
    <nav class="w3-bar w3-border w3-white" role="navigation">
        <div class="w3-bar-item w3-text-grey">Code Gap</div>
        <a href="/" class="w3-bar-item w3-button"> Home</a>
        <a href="#" class="w3-bar-item w3-button"> Browse Projects</a>
        <a href="/volunteer/list" class="w3-bar-item w3-button"> View Volunteers</a>
        <a href="/non-profit/list" class="w3-bar-item w3-button"> View Non-Profits</a>



        {{#if loggedIn}}
            <a href="/user" class="w3-bar-item w3-button">Profile</a>
            <a id="qsLogoutBtn" href="/logout" class="w3-bar-item w3-button"> Logout</a>
        {{else}}
            <a id="qsLoginBtn" href="/login" class="w3-bar-item w3-button">Login</a>
        {{/if}}




    </nav>
    {{{body}}}
</body>

</html>
