<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Gap</title>


    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/flatly/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gJWVjz180MvwCrGGkC4xE5FjhWkTxHIR/+GgT8j2B3KKMgh6waEjPgzzh7lL7JZT" crossorigin="anonymous">
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar  navbar-dark bg-primary fixed-top" role="navigation">
        <div class="container">

            <div><img src="favicon.ico" href="/" class="navbar-brand" data-toggle="tab"></div>
            <div><a href="/" class="navbar-brand" data-toggle="tab"> Code Gap</a></div>
            <a href="/" class="nav-link" data-toggle="tab"> Home</a>
            <a href="/projects/list" class="nav-link" data-toggle="tab"> Browse Projects</a>
            <a href="/volunteer/list" class="nav-link" data-toggle="tab"> View Volunteers</a>
            <a href="/non-profit/list" class="nav-link" data-toggle="tab"> View Organizations</a>
            {{#if loggedIn}}
                <a href="/user" class="nav-link" data-toggle="tab">Profile</a>
                <a id="qsLogoutBtn" href="/logout" class="nav-link" data-toggle="tab"> Logout</a>
            {{else}}
                <a id="qsLoginBtn" href="/login" class="nav-link" data-toggle="tab">Login</a>
            {{/if}}
        </div>
    </nav>
    <div class="container">
        {{{body}}}

        <footer class="pt-4 my-md-5 pt-md-5 border-top">

            <div class="row">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">CodePath, LLC © 2017-2018</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Follow Us!</h5>
                    <ul class="list-unstyled text-small">
                        <a href="https://github.com/KatharineArnold">
                            <i class="fa fa-github fa-2x"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/katharine-arnold-7914b418">
                            <i class="fa fa-linkedin fa-2x"></i>
                        </a>
                        <a href="https://twitter.com/KatharineArno19">
                            <i class="fa fa-twitter fa-2x"></i>
                        </a>

                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
