<div class="container">
    <div class="row">
        <h1 class="projectTitle">Open Projects</h1>
    </div>


    <div class="row">
        {{#each projects}}
            <div class="col-md-4">
                <div class="card mb-3">
                    <h3 class="card-header"> </h3>
                    <div class="card-body">
                        <p class="card-text"> <span class="cardTitle">Project Name:</span> {{this.projectName}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><span class="cardTitle">Description:</span> {{this.projectDescription}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><span class="cardTitle">Organization:</span>
                            {{this.NonProfitProfile.companyName}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><span class="cardTitle">Technologies:</span></p>
                    </div>
                </div>
            </div>
        {{/each}}

    </div>
</div>
