<br>
<div class="w3-container">
    <div class="w3-card-4 w3-center" style="padding: 15px;">
        <img src= {{user.picture}}>
        <p> Welcome {{user.nickname}}</p>
        <h2>User Profile </h2>
        <pre>{{userProfile}}</pre>
    </div>
</div>
