<br>
<div class="container">
    <div class="w3-card-4 w3-center" style="padding: 15px;">
        <img src= {{user.picture}}>
        <p> Welcome {{user._json.given_name}}</p>
        <p> Email:{{user._json.email}}</p>
    </div>

    {{!-- need to display profile info fromdatabase here --}}
