{{!-- this page will say if a profile exists show profile if not create profile, need if statement,if profile exists show, else show create profile --}}

<br>
<div class="container">
    <div class="w3-card-4 w3-center" style="padding: 15px;">
        <img src= {{user.picture}}>
        <p> Welcome {{user._json.given_name}}</p>
        <p> Email:{{user._json.email}}</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-5">
            <a class="btn btn-primary" href="/profile" role="button">View Your Profile</a>
        </div>
        <div class="col-md-5">
            <a class="btn btn-primary" href="/create-profile" role="button">Create A Profile</a>
        </div>
    </div>
</div>
