.w3-container a {
    color: #337ab7;
    text-decoration: none;
}


body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: rgb(227, 134, 125); */
    background: url(https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?cs=srgb&dl=achievement-agreement-arms-1068523.jpg&fm=jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.np-btn, .v-btn{
    margin-top: 300px;
    padding: 30px;
    
}

.np-btn{
    margin-right: 30px;
}

.v-btn{
    margin-left: 30px;

    
}

.btn-primary{
    /* background-color: peachpuff; */
}

.main-title{
    transform:skew(60deg, -30deg) scaleY(.66667);

}

h1{
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    position: relative;
}

/* transition: all 0.3s ease; */


.nonProfitList, .volunteersListHead, .indexContainer, .createProfile, .create{
    position: absolute;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

  




