
html{
    min-height: 100%;
    min-width: 100%;
    /* background-color: #2C3E50; */
}

.orgTitle, .volunteerTitle{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.imageContainer{
    height: 300px;
    min-width: 100vw;
    margin-left: -163px;
    /* background-color: rgb(227, 134, 125); */
    background: url(https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?cs=srgb&dl=achievement-agreement-arms-1068523.jpg&fm=jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.np-btn, .v-btn{
    padding: 30px;
    font-size: 2.5vh;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.np-btn{
    margin-top: 20px;
}

.v-btn{
    margin-top: 20px;

}



body{
    padding-top: 60px;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 3rem;
    min-height: 100vh;


}

.missionStatement{
    margin-top: 40px;
    font-size: 3.5vh;
}





/* 
 .greyBack{
    position: absolute;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    /*color: #f1f1f1;
    padding: 20px;
    margin-top: -100px;
    border-radius: 100px;

  }   */

  #createProfile, #createNonProfitProfile{
      margin-top: 30px;
  }

  .footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin-top: 30px;
  }
 

.footerCenter{
    margin-right: auto;
    margin-left: auto;
}

.indexQuote{
    margin-top: 20px;
    font-size: 2.5vh;
    color: #2C3E50;
}


.userTitle{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.mainVolunteerImg{
    border-radius: 100%;
    height: 350px;
    width: 350px;
}

.volunteerP{
    margin-top: 5px;
    font-size: 30px;
    text-align: center;

}

.howItWorks{
    margin-top: 15px;
}

.listHowItWorks{
    margin-top: 40px;
}
