
html{
    min-height: 100%;
    min-width: 100%;
    /* background-color: #2C3E50; */
}

.create-title{
    text-align: center;
    margin-top: 30px;
}
.create-title-two{
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 20px;

}

.imageContainer{
    min-height: 300px;
    /* min-width: 200vw; */
    /* margin-left: -163px; */
    /* background-color: rgb(227, 134, 125); */
    background: url(https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?cs=srgb&dl=achievement-agreement-arms-1068523.jpg&fm=jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding-bottom: 20px;
}

.cardImage{
    /* height: 200px; 
    width: 300px;  */
    display: block;
    width: 100%;
    height: 15vw;
    object-fit: cover;
   
}

.np-btn, .v-btn{
    padding: 30px;
    font-size: 2.5vh;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.np-btn{
    margin-top: 20px;
}

.v-btn{
    margin-top: 20px;
    margin-bottom: 20px;

}

.joinBtnV, .joinBtnO{
    font-size: 2.5vh;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.joinBtnV{
    margin:50px;
    padding: 60px;
}
.joinBtnO{
    padding: 52px;
    margin-left: 50px;
}

body{
    padding-top: 60px;
    overflow-x: hidden;
    position: relative;
    /* padding-bottom: 200px; */
    min-height: 100vh;


}

.missionStatement{
    margin-top: 40px;
    font-size: 3.5vh;
}



  #createProfile, #createNonProfitProfile{
      margin-top: 30px;
  }

  #createProfile{
      margin-left: 30px;
      padding: 30px;
  }


.indexQuote{
    margin-top: 20px;
    font-size: 2.5vh;
    color: #2C3E50;
}


.userTitle{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.mainVolunteerImg{
    border-radius: 100%;
    height: 350px;
    width: 350px;
}

.volunteerP{
    margin-top: 5px;
    font-size: 30px;
    text-align: center;

}

.howItWorks{
    margin-top: 15px;
}

.listHowItWorks{
    margin-top: 40px;
}


.addOrgBtn{
    margin-bottom: 20px;
    margin-top: -40px;
}


.join{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;

}

.joinImg{
    height: 400px;
    width: 100%;
    margin-top: -220px;
    border-radius: 25%;
}

.projectTitle, .orgTitle, .volunteerTitle{
    text-align: center;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.cardTitle{
    font-weight: bolder;
    font-size: 18px;
}


.addOrg {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#createNonProfitProfile{
    padding: 30px;
}

.orgCardTitle{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.orgBody{
    padding: 15px;
    padding-top: 0px;
}

.volunteerCard{
    min-height: 600px;
}


.projectCard{
    height: 200px;
}
