<div class="container create">
    <div class="row">
        <div class="col">

            {{!-- need name and email from auth0 --}}
            <h2 class="create-title">Welcome volunteer</h2>
        </div>
    </div>

    <form id="volunteerForm">


        {{!-- How to put email and name in from user data here --}}
        {{!-- <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="">
            </div>
        </div>
        checkbox to coose to make email visible
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div> --}}
        <div class="form-group row">
            <label for="location" class="col-sm-2 col-form-label">Location</label>
            <div class="col-sm-10">
                <input type="text" id="location" class="form-control" id="location" placeholder="Location">
            </div>
        </div>
        <div class="form-group row">
            <label for="hours" class="col-sm-2 col-form-label">Hours Available Per Week</label>
            <div class="col-sm-10">
                <input type="number" id="hours" class="form-control" id="hours" placeholder="Hours">
            </div>
        </div>
        <button type="submit" class="btn btn-light">Submit</button>


    </form>

</div>
<script src="/js/volunteer.js"></script>
