<h1>Hello, Volunteers</h1>

<ul class="volunteersListHead">
    {{#each volunteers}}
        <li>
            <p>Name: {{this.User.name}}</p>
            <p>Email: {{this.User.email}}</p>
            <p>Location: {{this.location}}</p>
            <p>Availability: {{this.availability}} hours per week</p>
        </li>
    {{/each}}
</ul>

{{!-- <div>
  <form action="/" method="POST">
  	<textarea type="text" name="wish"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div> --}}
