<h1>Hello, Volunteers</h1>

<ul>
    {{#each volunteers}}
        <li>
            <p>Name: {{this.name}}</p>
            <p>Email: {{this.email}}</p>
        </li>
    {{/each}}
</ul>

{{!-- <div>
  <form action="/" method="POST">
  	<textarea type="text" name="wish"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div> --}}
