{{!-- this page will allow volunteers to search opportunities, request to volunteer --}}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="vtitle">Welcome Volunteers</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Share your time and skills with a non-profit organization while gaining real world experience. Build
                your
                portfolio..visibility...while helping a non-profit in need....Connect with a cause that needs you.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>How it works</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Set up profile</p>
            <p>Browse Projects</p>
            <p>Apply</p>
            <p>Grow your career while helping your community</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <a class="btn btn-primary" href="/login" role="button ">Get Started</a>

        </div>
    </div>
</div>
