<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="userTitle">Welcome Volunteers</h1>
        </div>
    </div>

    <div class="row volunteerP">
        <div class="col">
            <p>Build your portfolio and visibility while helping an organization in need.<br>Share your time and skills
                with a
                non-profit while gaining real world experience.

            </p>
        </div>
    </div>

    <div class="row howItWorks">
        <div class="col-md-4 offset-md-1 listHowItWorks">
            <h2>How it works</h2>
            <ul>
                <li>Set up a profile</li>
                <li>Browse Projects</li>
                <li>Apply</li>
                <li>Grow your career while helping your community</li>
            </ul>
            <a class="btn btn-primary" href="/user" role="button ">Get Started</a>

        </div>
        <div class="col-md-4 offset-md-1">
            <img class="mainVolunteerImg" src="https://images.pexels.com/photos/1120343/pexels-photo-1120343.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350">
        </div>
    </div>

</div>
