<div class="container ">
    <div class="row">
        <div class="col">

            {{!-- need name and email from auth0 --}}
            <h2 class="create-title">Create New Organization</h2>
        </div>
    </div>

    <form id="orgForm">
        <div class="form-group row">
            <label for="orgName" class="col-sm-2 col-form-label">Organization Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="orgName" placeholder="Company Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="orgDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="orgDescription" placeholder="Description">
            </div>
        </div>

        <button type="submit" class="btn btn-light">Submit</button>



    </form>

</div>
<script src="/js/organization.js"></script>
