<div class="container ">
    <div class="row">
        <div class="col">

            {{!-- need name and email from auth0 --}}
            <h2 class="create-title">Create New Organization</h2>
        </div>
    </div>

    <form id="orgForm">
        <div class="form-group row">
            <label for="orgName" class="col-sm-2 col-form-label">Organization Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="orgName" placeholder="Company Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="orgDescription" class="col-sm-2 col-form-label">Description:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="orgDescription" placeholder="Description">
            </div>
        </div>
        <div class="form-group row">
            <label for="orgEmail" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="orgEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="orgPhone" class="col-sm-2 col-form-label">Phone:</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="orgPhone" placeholder="Phone">
            </div>
        </div>
        <div class="form-group row">
            <label for="orgLocation" class="col-sm-2 col-form-label">Location:</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="orgLocation" placeholder="Location">
            </div>
        </div>

        {{!-- <div class="form-group">
            <label for="techSelect">Select Technologies</label>
            <select multiple="form-group" class="form-control" id="techSelect">
                <option id="react">React</option>
                <option id="node">Node.js</option>
                <option id="php">PHP</option>
                <option id="javascript">Javascript</option>
            </select>
        </div> --}}


        <button type="submit" class="btn btn-light">Submit</button>



    </form>

</div>
<script src="/js/organization.js"></script>
