<h1>Non-profits</h1>

<ul>
    {{#each nonProfits}}
        <li>
            <p>Company Name: {{this.companyName}}</p>
            <p>Description: {{this.description}}</p>
        </li>
    {{/each}}
</ul>
