<div class="container">
    <div class="row">
        <h1 class="orgTitle">Current Organizations</h1>
    </div>


    <div class="row">
        {{#each nonProfitProfiles}}
            <div class="col-md-6">
                <div class="card mb-3">
                    <h3 class="card-header">{{this.companyName}}</h3>
                    <div class="card-body">
                    </div>
                    {{!-- {{!-- <img style="height: 100%; width: 100%; display: block;" src="{{this.User.image}}" alt="Card image"> --}}
                    <div class="card-body">
                        <p class="card-text"> {{this.description}}</p>
                        <a class="btn btn-secondary" href='/projects/add-project?nonProfitProfileId={{this.id}}' role="button">Add
                            Project</a>
                        {{!-- <a href='/cms?author_id=" + authorData.id + "'>Create a Post</a> --}}
                        <a class="btn btn-info" href="#" role="button">View Our Projects</a>
                        {{!-- <a href="/blog?author_id=1">Go to Posts</a> --}}
                        <a id="update-organization" class="btn btn-primary" href="#" role="button">Update Profile</a>
                        <a id="delete-organization" class="btn btn-success" href="#" role="button">Delete Profile</a>

                    </div>
                </div>
            </div>
        {{/each}}

    </div>
</div>
