<div class="container">
    <div class="row">
        <h1 class="orgTitle">Current Organizations</h1>
    </div>


    <div class="row">
        {{#each nonProfitProfiles}}
            <div class="col-md-6">
                <div class="card mb-3">
                    <h3 class="card-header">{{this.companyName}}</h3>
                    <div class="card-body">
                    </div>
                    <div class="card-body">
                        <p class="card-text"> {{this.description}}</p>
                        <a class="btn btn-secondary" href='/projects/add-project?nonProfitProfileId={{this.id}}' role="button">Add
                            Project</a>
                        <a class="btn btn-info" href="/non-profit/show/{{this.id}}" role="button">View Our Projects</a>
                        <a id="update-organization" class="btn btn-primary" href="#" role="button">Update Profile</a>
                        <a id="delete-organization" class="btn btn-success" href="#" role="button">Delete Profile</a>
                    </div>
                </div>
            </div>
        {{/each}}

    </div>
</div>
