<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="userTitle">Welcome Organizations</h1><br>
        </div>
    </div>

    <div class="row howItWorks">
        <div class="col-md-4 offset-md-1 listHowItWorks">
            <h2>How it works</h2>
            <ul>
                <li>Set up a profile</li>
                <li>Add Projects</li>
                <li>Select Candidates</li>
                <li>Grow your company with the help of skilled volunteers</li>
            </ul>
            <a class="btn btn-primary" href="/non-profit/create" role="button ">Get Started</a>
        </div>
        <div class="col-md-4 offset-md-1">
            <img class="mainVolunteerImg" src="https://images.pexels.com/photos/877695/pexels-photo-877695.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350">
        </div>
    </div>


</div>
