<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="vtitle">Welcome Non-Profits</h2><br>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>How it works</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Set up profile</p><br>
            <p>Add Projects</p><br>
            <p>Select Candidate</p><br>
            <p>Grow your company with the help of skilled volunteers</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <a class="btn btn-primary" href="/login" " role="button ">Create A Profile</a>
        </div>
    </div>

</div>
