<div class="container">
    <div class="row">
        <h1 class="userTitle">{{nonProfitProfile.companyName}} Projects</h1>
    </div>


    <div class="row">
        {{#each nonProfitProfile.Projects}}
            <div class="col-md-4">
                <div class="card mb-3">
                    <h3 class="card-header"> </h3>
                    <div class="card-body">
                        <p class="card-text">Project Name: {{projectName}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Description: {{projectDescription}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Technologies:</p>
                    </div>

                </div>
            </div>
        {{/each}}

    </div>

</div>
